# Ignore build outputs
.next
out
dist

# Ignore node modules
node_modules

# Ignore scripts temporarily (many unused vars errors)
scripts/

# Ignore test polyfills temporarily
tests/polyfills.js

# Ignore type definitions
types/