# Ignore build outputs
.next
out
dist

# Ignore node modules
node_modules

# Ignore scripts temporarily (many unused vars errors)
scripts/

# Ignore test files temporarily
tests/polyfills.js
tests/utils/test-helpers.js

# Ignore type definitions
types/